body {
    overflow-x: hidden;
  }

  main {
    margin-top: 100px;
  }

  header {
    margin-left: 0;
    z-index: 1030;
    position: fixed;
    top: 0;
    width: 100%;
  }

  input,
  textarea {
    background-color: #f0f2f5 !important; 
    border: 1px solid #ddd; 
  }