
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    background: linear-gradient(to right, #8c919c, #efeff2);
    color: #f1f5f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 90px;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: #606771 !important;
}

.navbar {
  background-color: #404756 !important;
  border-bottom: 1px solid #334155;
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-text,
.navbar .btn-outline-dark {
  color: #e2e8f0 !important;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: #38bdf8 !important;
}

.btn-outline-dark {
  border-color: #64748b;
  color: #e2e8f0;
}

.btn-outline-dark:hover {
  background-color: #38bdf8;
  border-color: #38bdf8;
  color: #0f172a !important;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

h3.text-primary {
  color: #ffffff !important;
}

.card-header h5 {
  color: #f1f5f9;
}

.bg-white, .card, .shadow-sm, .border {
    background-color: #404756 !important;
    color: #e2e8f0 !important;
    border: 1px solid #334155 !important;
    border-bottom: 10px;
    box-shadow: 0 4px 10px rgba(15, 23, 42, 0.3) !important;
}

.table thead {
  background-color: #334155;
  color: #f1f5f9;
}

.table-hover tbody tr:hover {
  background-color: #0f172a;
  color: #f1f5f9;
}َ

.badge.bg-success {
  background-color: #22c55e !important; 
}

.badge.bg-warning {
  background-color: #facc15 !important;
  color: #1e293b !important;
}

.badge.bg-danger {
  background-color: #ef4444 !important;
}

.badge.bg-secondary {
  background-color: #64748b !important;
}

/* Footer */
footer {
  background-color: #0f172a !important;
  color: #e9ebef;
  border-top: 1px solid #334155;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  margin-top: auto;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: #606771 !important;
}
.text-muted {
    --bs-text-opacity: 1;
    color: white !important;
}