<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard | TicketFlow</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    {% load static %}
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/admin_users_page.css' %}">

</head>

<body class="bg-light">

    <!-- Edit User Modal -->
    <div class="modal fade" id="editUserModal">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/update_user">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" id="modal-user_id">
                        <div class="row mb-2">
                            <div class="col">
                                <input type="text" name="first_name" id="modal-firstname" class="form-control"
                                    placeholder="First name">
                            </div>
                            <div class="col">
                                <input type="text" name="last_name" id="modal-lastname" class="form-control"
                                    placeholder="Last name">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <input type="text" id="modal-role" class="form-control" placeholder="Role" disabled>
                            </div>
                            <div class="col">
                                <input type="text" id="modal-location" class="form-control" placeholder="Location"
                                    disabled>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="email" name="email" id="modal-email" class="form-control" placeholder="Email">
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="submit" class="btn btn-primary">&lt; Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete User Modal -->
    <div class="modal fade" id="deleteUserModal">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModalLabel">Delete User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>you are about to delete user: <span id="username-span"></span></p>
                    <p>are you sure you want to proceed ?</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <form action="/delete_user" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" id="delete-user_id">
                        <button type="submit" class="btn btn-danger">&lt; Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg py-4 navbar-light bg-white border-bottom fixed-top shadow px-4">
        <div class="container-fluid">
            <img src="{% static '/img/logo.png' %}" alt="logo" class="logo">
            <a class="navbar-brand fw-bold" href="/dashboard">TicketFlow</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard"><i class="bi bi-speedometer2 me-1"></i> Dashboard</a>
                    </li>
                    {% if user.role == "admin" or user.role == "staff" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/tickets"><i class="bi bi-ticket-detailed me-1"></i> All Tickets</a>
                    </li>
                    {% endif %}
                    {% if user.role == "admin" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/all_users"><i class="bi bi-ticket-detailed me-1"></i> All Users</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/create_ticket"><i class="bi bi-bar-chart-line me-1"></i> Create
                            Ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/inbox"><i class="bi bi-clock-history me-1"></i> Inbox</a>
                    </li>
                </ul>
                <span class="navbar-text me-4 text-muted">
                    {% if user.role == "admin" %}
                    Admin Panel - {{ user.first_name }} {{ user.last_name }}
                    {% elif user.role == "staff" %}
                    Help Desk - {{ user.department.name }} - {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                    Employee - {{ user.department.name }} - {{ user.first_name }} {{ user.last_name }}
                    {% endif %}
                </span>
                <a class="btn btn-outline-dark" href="/logout">
                    <i class="bi bi-box-arrow-right"></i>Logout</a>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row">
            <div id="main-content" class="col-md-9 mx-auto col-lg-10 px-md-4 mt-4">
                <main>
                    <!-- Card -->
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">All Users</h5>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-bordered">
                                <thead class="table-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Role</th>
                                        <th>Email</th>
                                        <th>Location</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{user.id}}</td>
                                        <td>{{user.first_name}} {{user.last_name}}</td>
                                        <td>{{user.role}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.location}}</td>
                                        <td>
                                            <button class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#editUserModal" data-id="{{user.id}}"
                                                data-firstname="{{ user.first_name }}"
                                                data-lastname="{{ user.last_name }}" data-role="{{ user.role }}"
                                                data-location="{{ user.location }}"
                                                data-email="{{ user.email }}">Edit</button>
                                            {%if user.role != 'admin'%}
                                            <button class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#deleteUserModal" data-id="{{user.id}}"
                                                data-firstname="{{ user.first_name }}"
                                                data-lastname="{{ user.last_name }}">Delete</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="text-center py-3 bg-light  mt-3">
        <div class="container">
            <span class="text-muted">&copy; <span id="currentYear"></span> TicketFlow. All rights reserved.</span>
        </div>
    </footer>
    <script>
        document.getElementById("currentYear").textContent = new Date().getFullYear();
    </script>

    <!-- Bootstrap JS and Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const modaledit = document.getElementById('editUserModal');
        const modaldelete = document.getElementById('deleteUserModal');

        modaledit.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget; // Button that triggered the modal
            // Update modal content
            document.getElementById('modal-user_id').value = button.getAttribute('data-id');
            document.getElementById('modal-firstname').value = button.getAttribute('data-firstname');
            document.getElementById('modal-lastname').value = button.getAttribute('data-lastname');
            document.getElementById('modal-role').value = button.getAttribute('data-role');
            document.getElementById('modal-location').value = button.getAttribute('data-location');
            document.getElementById('modal-email').value = button.getAttribute('data-email');
        });

        modaldelete.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            document.getElementById('username-span').innerText = `${button.getAttribute('data-firstname')}  ${button.getAttribute('data-lastname')}`
            document.getElementById('delete-user_id').value = button.getAttribute('data-id')
        })

    </script>
</body>

</html>