<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User's Home | TicketFlow</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/user_dashboard.css' %}">
</head>

<body class="bg-light text-dark">

  <!-- Navbar (from TicketFlow) -->
  <nav class="navbar navbar-expand-lg py-4 navbar-light bg-white border-bottom fixed-top shadow px-4">
    <div class="container-fluid">
      <img src="{% static '/img/logo.jpg' %}" alt="logo" class="logo">
      <a class="navbar-brand fw-bold" href="/dashboard">TicketFlow</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">

            <a class="nav-link" href="/dashboard"><i class="bi bi-speedometer2 me-1"></i> Dashboard</a>
        </li>
        {% if user.role == "admin" or user.role == "staff" %}
        <li class="nav-item">
            <a class="nav-link" href="/tickets"><i class="bi bi-ticket-detailed me-1"></i> All Tickets</a>
        </li>
        {% endif %}
        {% if user.role == "admin" %}
        <li class="nav-item">
            <a class="nav-link" href="/all_users"><i class="bi bi-ticket-detailed me-1"></i> All Users</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="/create_ticket"><i class="bi bi-bar-chart-line me-1"></i> Create Ticket</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/inbox"><i class="bi bi-clock-history me-1"></i>Inbox</a>
        </li>
      </ul>
      <span class="navbar-text me-4 text-muted">
          {% if user.role == "admin" %}
          Admin Panel - {{ user.first_name }} {{ user.last_name }}
          {% elif user.role == "staff" %}
          Help Desk - {{ user.department.name }} - {{ user.first_name }} {{ user.last_name }}
          {% else %}
          Employee - {{ user.department.name }} - {{ user.first_name }} {{ user.last_name }}
          {% endif %}
      </span>
        <a class="btn btn-outline-dark" href="/logout">
          <i class="bi bi-box-arrow-right"></i>Logout</a>
      </div>
    </div>
  </nav>

  <!-- Content -->
  <div class="container-fluid">
    <div class="row">
      <div id="main-content" class="col-md-9 mx-auto col-lg-10 px-md-4 mt-4">
        <main>

          <!-- User Profiles -->
          <div class="mb-5">
            <h3 class="text-primary mb-3"><i class="bi bi-person-circle me-2"></i>{{user.first_name}} Profile</h3>
            <!-- Loop start -->
            <div class="bg-white p-3 rounded mb-3 shadow-sm border">
              <h5 class="mb-1">{{ user.first_name }} {{user.last_name}}</h5>
              <p class="mb-1">Job Title: {{ user.title }}</p>
              <p class="mb-1">Location: {{ user.location }}</p>
              <p class="mb-0">Department: {{ user.department }}</p>
            </div>
          </div>

          <!-- My Tickets -->
          <div>
            <h3 class="text-primary mb-3"><i class="bi bi-card-list me-2"></i>My Tickets</h3>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">Tickets</h5>
              </div>
              <div class="card-body table-responsive">
                <table class="table table-bordered table-hover align-middle">
                  <thead class="table-light">
                    <tr>
                      <th>Title</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Loop start -->
                    {% for ticket in user_tickets %}
                    <tr>
                      <td>{{ ticket.title }}</td>
                      <td>{{ ticket.created_at }}</td>
                      <td>
                        {% if ticket.status.name == 'Closed' %}
                        <span class="badge bg-success">{{ ticket.status.name }}</span>
                        {% elif ticket.status.name == 'In Progress' %}
                        <span class="badge bg-warning text-dark">{{ ticket.status.name }}</span>
                        {% elif ticket.status.name == 'Open' %}
                        <span class="badge bg-danger">{{ ticket.status.name }}</span>
                        {% elif ticket.status.name == 'Not assigned' %}
                        <span class="badge bg-danger">{{ ticket.status.name }}</span>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </main>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="mt-5 text-center text-muted py-3 bg-light">
    &copy; 2025 TicketFlow. All rights reserved.
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>